px
*.psv
*.PSV
*.xml
*.XML
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/px-px.o
stamp-h1
