/mx
/px
/pv
/xv
/xp
libades.a
*.obs
*.psv
*.PSV
*.xml
*.XML
*.mrpt
*.json
*.gz
*.la
*.lo
libtool
ltmain.sh
m4/
Makefile
aclocal.m4
autom4te.cache/
commit.h
config.h
config.guess
config.h.in~
config.log
config.status
config.sub
.deps/
*.o
stamp-h1
.libs/
